h1{
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

.nome{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box{
    font-size: 30px;
    flex-wrap: wrap;
}

.botao{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}